// Type
$font-heading: 'Outfit', sans-serif;
$font-body: 'Assistant', sans-serif;

// Colors
$green: #00A676;
$white: #fff;
$black: #191919;
$red: #CD2831;
$tan: #F8F4E3;
$chip-grey: #A7A9A6;
$radio-grey-green: #A0ABA8;
$dropdown-focused: #F2FBF8;
$dropdown-hover: #E3E6E5;