@use '../config';


.pt-190 {
    padding-top: 190px;
}

.pt-215 {
    padding-top: 215px;
}

.community-card {
    margin-top: 30px;
    border: 1px solid rgba(25, 25, 25, 0.05);

    .community-thumb {
        width: 100%;
        height: auto;
    }

    .community-card-info {
        padding: 1rem;

        h4 {
            margin-bottom: 1rem;
        }

        > div:not(:last-child) {
            margin-bottom: 1rem;
        }

        .community-card-meta {

            p {
                font-size: 0.75rem;
                
            }

            p:not(:last-child) {
                margin-bottom: 1rem;
            }

            p:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .message-icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .no-card-img {
        margin-top: 4rem;
    }
}