@use '../config';

.mentor-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 2rem;
    max-width: 250px;
    border-radius: 16px;
    transition: 0.3s;
    background: config.$white;
    .mentor-name{
        padding-top: 12px;
        color: config.$green;
    }
    .mentor-job {
        font-weight: 800;
        margin: 10px 0;
        margin-top: 3px;
    }
    .mentor-specialization{
        gap: 3px;
    }
    .mentor-special {
        background-color: config.$tan;
        padding: 2px 10px;
        border-radius: 16px;
        font-size: 12px;
    }
}

.mentor-card img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 16px;
    display: block;
}

.mentor-card ul {
    gap: 1rem;
}



.mentor-bar-wrapper {
    display: flex;
    justify-content: space-between;
    .mentor-filter {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-between;
        background-color: #00A676;
        border-radius: 12px;
        padding: 10px 20px;
        color: config.$white;
    }
    .filter-btn {
        gap: 24px;
    }
}



.mentor-card:hover {
    transform: translate(0, -10px);
}