@use '../config';

.community-card-tags{
    ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 16px 0;
    }
    .purple {
        background-color: purple;
        color: white;
        padding: 0 10px;
        border-radius: 2px;
    }
    .orange {
        background-color: orange;
        color: white;
        padding: 0 10px;
        border-radius: 2px;
    }
    .turquoise {
        background-color: #3D8DBA;
        color: white;
        padding: 0 10px;
        border-radius: 2px;
    }
    .light-green {
        background-color: #6cc69f;
        color: white;
        padding: 0 10px;
        border-radius: 2px;
    }
}