@use '../config';

.filter-tags {
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    
        li {
            border-radius: 0.125rem;
            font-size: 0.75rem;
            line-height: 0.875rem;

            color: white;
            padding: 1px 6px;
            border-radius: 2px;
            text-align: center;
        }

        // ui/ux
        .purple {
            background-color: #BB98E7;
        }

        // coding
        .mustard {
            background-color: #E1BF46;
        }

        // seeking advice
        .aqua {
            background-color: #3D8DBA;
        }

        // project management
        .mint {
            background-color: #90C1B3;
        }

        // venting
        .peach {
            background-color: #FFB571;
        }
        // general
        .grass {
            background-color: #7FAE69;
        }

        // introductions
        .rasp {
            background-color: #E08787;
        }
        // mental health
        .grape {
            background-color: #A3B1E4;
        }
    }
}