@use '../config';

footer {
    flex-direction: column;
    width: 100%;
    border-top: 0.063rem solid config.$black;

    .footer-content {
        margin: 1.5rem 2rem;
        .footer {
            justify-content: space-between;
            align-items: center;
            .logo {
                height: 2.5rem;
            }
        }

        ul {
            display: flex;
            
            li {
                margin-left: 2rem;
                font-size: 1.5rem;
            }
        }

        .line {
            display: block;
            margin: 2rem 0;
            border-bottom: 1px solid #c3c3c3;
        }

        // hr {
        //     justify-self: center;
        //     color: config.$dark-grey;
        //     width: 80%;
        // }

        p {
            text-align: center;
            color: config.$black50;
        }
    }
}
