@use '../config';

.notification-icon {
    width: 30px;
    height: auto;
}

.header-btn {
    background-color: #00A676;
    border-radius: 12px;
    padding: 10px 20px;
    color: #FCFCFC;
    border: 2px solid #00A676;
}

.header-secondary-btn {
    background-color: #FCFCFC;
    border-radius: 12px;
    padding: 10px 20px;
    color: #00A676;
    border: 2px solid #00A676;
}


header {
    border-bottom: 0.063rem solid config.$black;

    a {
        font-size: 1.5rem;
        line-height: 1.625rem;
    }

    .header-content {
        height: 6.25rem;
        grid-column: 1 / span 12;
        justify-content: space-between;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 2rem;

        .logo {
            grid-column: 1 / span 2;
            width: fit-content;

            > img {
                height: 2.5rem;
            }
        }

        nav {
            grid-column: 3 / span 10;
            display: flex;

            .nav-left {
                flex-basis: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 2rem;
            }

            .global-nav {
                flex-basis: 50%;
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 2rem;
    
                .user {
                    a {
                        display: flex;
                        align-items: center;
                        color: config.$black;
                    }
                    .drop-icon {
                        width: 20px;
                    }
                }
    
                .img-container {
                    width: 2.5rem;
                    height: 2.5rem;
                    background: grey;
                    border-radius: 50%;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                    border: 2px solid config.$green;
                }
            }
        
        }

        
    }
}