@use '../config';

.thread-main {
    grid-area: 1 / 4 / span 1 / span 7;
    margin-top: 2rem;
    padding: 2rem;

    .thread-head {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .head-info {
            width: 50%;
        }


    }
}

.thread-comments {
    grid-area: 2 / 3 / span 1 / span 7;
    padding: 2rem;
}

.thread-side {
    grid-area: 1 / auto / span 2 / span 3;
}