@use '../config';


.community-section {
    grid-column: span 6;
    grid-template-columns: repeat(12, 1fr);
    gap: 2.5rem;
    margin: 2rem 0 2.5rem 0;
}

.community-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.filter-container {
    grid-column: 10 / span 3;
    padding: 2rem;
    margin: 2rem 0 0 0;
    height: fit-content;

    > .filter-search-bar {
        margin-bottom: 1rem;
    }

    .filter-tags > p {
        margin-bottom: .5rem;
    }
}
