@use '../config';

.thread-main {
    grid-area: 1 / 4 / span 1 / span 6;
    margin-top: 2rem;
    padding: 2rem;

    .btn-bwd {
        margin-bottom: 2rem;
    }

    .thread-head {
        width: 100%;
        display: flex;
        justify-content: space-between;

        

        .head-info {
            width: 50%;
            

            img {
                width: 3.125rem;
                height: 3.125rem;
                margin-bottom: .5rem;
                border-radius: 50%;
            }
        }
    }


}

.thread-comments {
    grid-area: 2 / 4 / span 1 / span 6;
    padding: 2rem;
}

.thread-side {
    grid-area: 1 / 10 / -1 / span 3;
    margin-top: 2rem;

    .filter-search-bar {
        padding: 1.875rem;
    }
}