@use '../config';

.banner {
    padding: 0 30px;
    div h1 {
        font-size: 4rem;
    }
    > div, img {
        align-self: center;
    }

    img {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 1;
        border-radius: 1rem;
    }

    > div {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-btns {
        display: flex;
        gap: 2rem;
    }

    .banner-btns .btn-secondary {
        background-color: white;
    }
}

.features {
    h1 {
        margin-bottom: 45px;
        margin-left: 30px;
    }
    ul {
        margin: 6rem auto;
        gap: 3rem;
        padding: 0 165px;
    }
    
    img {
        width: 5rem;
        height: 5rem;
        margin: 1rem auto;
        display: block;
    }
    
}

.testimonials {
    img {
        max-width: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
    
    li {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 2rem;
        max-width: 100%;
        border-radius: 16px;
        transition: 0.3s;
        background: config.$white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .col-4 p {
        text-align: left;
    }
    
    li:hover {
        transform: translate(0, -10px);
    }
}

    .testimonials {
        h1 {
            margin-bottom: 45px;
            margin-left: 30px;
        }
        .testimonial-user {
            display: flex;
            align-items: center;
            align-content: flex-end;
            justify-content: start;
            gap: 15px;
            border-top: 1px solid;
            padding-top: 24px;
            margin-top: 16px;
            
            p:nth-child(2) {
                display: flex;
                align-items: start;
                font-size: 14px;
            }
            .testimonial-img-icon {
                width: 64px;
                height: 64px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }

