@use '../config';

.mentor-list {
    grid-area: 1 / 4 / 3 / 12;
    // margin: 4.5rem 3rem;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    section{
        margin: 0;
    }
}

.all-mentors {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    justify-content: space-between;

    .mentor-card{
        flex-basis: 30%;
        // border: 1px solid config.$green;


        ul {
            padding-top: 4rem;
        }

        .mentor-description {
            display: none;
        }
    }
}

.mentor-bar-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    position: relative;

    .search-bar {
        width: 275px;
        img {
            position: absolute;
            padding: 1rem 0 0 1rem;
            width: 20px;
            height: auto;
        }

        input {
            padding-left: 3rem;
        }
    }
    .filter-btn {
        gap: 24px;

        .mentor-filter {
            // display: flex;
            // flex-direction: row; 
            // align-items: center;
            // justify-content: space-between;
            // background-color: #00A676;
            // border-radius: 2px;
            // padding: 10px 20px;
            // color: config.$white;
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            width: fit-content;
            text-align: center;
            padding: .5rem 1.5rem;
            border: 2px solid config.$green;
            border-radius: 2px;
    
            p {
                margin: 0;
                display: inline-block;
            }
    
            img{
                width: 20px;
            }
        }
    }
    

}