@use '../config';

.projects {
    grid-area: 1 / 4 / 3 / 12;
    // margin: 4.5rem 3rem;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    section{
        margin: 0px;
    }
    .mentor-bar-wrapper {
        margin: 25px 0;
        .mentor-filter{
            p{
                color: config.$green;
            }
        }
    }
}

.all-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .project-card {
        flex-basis: 30%;
        // border: 1px solid config.$green;
    }
}