@use '../config';

.survey {
    grid-area: 1 / 4 / 3 / 12;
    // margin: 68px 63px;
    section {
        margin: 2.5rem 0;
        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
    }
    .survey-form {
        background-color: config.$white;
        // border: 1px solid config.$green;
        box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        padding: 48px 70px;

        .tab {
            margin-bottom: 2.625rem;
            .select-title {
                color: config.$black;
            }
        }

        .progress-btns {
            display: flex;
            justify-content: space-between;

            .btn {
                display: flex;
                align-items: center;
                gap: 5px;
            }
            
            .prev-btn {
                background-color: config.$white;
                padding: 0;
                // img {
                //     width: 20px;
                //     // height: 20px;
                // }
                a{
                    color: config.$green;
                }
            }
        }
    }
}



.main-obj {
    display: flex;
    flex-direction: column;
    
    .radio-options{
        display: flex;
        flex-direction: column;
        gap: 10px;

        label{
            display: flex;
            justify-content: space-between;
            padding: 15px 24px;
            border-radius: 2px;
            border: 1px solid config.$black50;
            max-width: 375px;
            align-items: center;

            > span {
                font-family: config.$font-body;
                font-size: 1rem;
            }

            > input[type=radio] {
                accent-color: config.$green;
                width: 1.3rem;
                height: 1.3rem;
            }
        }
    }
}

.drop-options{
    position: relative;
    select{
        appearance: none;
        background-color: config.$white;
        padding: 15px 24px;
        border-radius: 2px;
        border: 1px solid config.$black;
        width: 425px;
        font-family: config.$font-body;
        font-size: 1rem;
        border: 1px solid config.$black50;
    }
}

.drop-options:after {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMyAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNjQ5NzUgMTEuNDE1OUM2LjU4MzE5IDExLjUyOCA2LjQxNjgxIDExLjUyOCA2LjM1MDI1IDExLjQxNTlMMC4wMjM0MjMyIDAuNzUyMzg5Qy0wLjA0MzEzMTIgMC42NDAyMTUgMC4wNDAwNjIyIDAuNSAwLjE3MzE3MSAwLjVMMTIuODI2OCAwLjUwMDAwMUMxMi45NTk5IDAuNTAwMDAxIDEzLjA0MzEgMC42NDAyMTggMTIuOTc2NiAwLjc1MjM5MUw2LjY0OTc1IDExLjQxNTlaIiBmaWxsPSIjMTkxOTE5IiBmaWxsLW9wYWNpdHk9IjAuNzUiLz4KPC9zdmc+Cg==");
    font-size: 1rem;
    top: 21px;
    left: 390px;
    position: absolute;
}
