@use '../config';

.survey {
    grid-area: 1 / 4 / 3 / 12;
    // margin: 68px 63px;
    section {
        margin: 2.5rem 0;
        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
    }
    .survey-form {
        background-color: config.$white;
        // border: 1px solid config.$green;
        box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        padding: 48px 70px;

        .tab {
            margin-bottom: 2.625rem;
            .select-title {
                color: config.$black;
            }
        }

        .progress-btns {
            display: flex;
            justify-content: space-between;

            .btn {
                display: flex;
                align-items: center;
                gap: 5px;
            }
            
            .prev-btn {
                background-color: config.$white;
                padding: 0;
                // img {
                //     width: 20px;
                //     // height: 20px;
                // }
                a{
                    color: config.$green;
                }
            }
        }
    }
}



.main-obj {
    display: flex;
    flex-direction: column;
    // input {
    //     border-radius: 16px;
    //     border: 1px solid config.$black;
    // }
    .radio-options{
        display: flex;
        flex-direction: column;
        gap: 10px;

        label{
            // position: relative;
            // cursor: pointer;
            // text-align: center;
            display: flex;
            justify-content: space-between;
            padding: 15px 24px;
            border-radius: 2px;
            border: 1px solid config.$black50;
            max-width: 375px;
        }
        // [type="checkbox"] + span {
        //     display: inline-block;
        //     background-color: white;
        //     border: #ED217C solid 5px;
        //     border-radius: 10px;
        //     padding: 10px 70px;
        //     margin: 30px 100px;
        //     text-align: center;
        //     font-weight: 600;
        //     font-style: italic;
        //     font-size: 20px;
        //     color: #ED217C;
        // }
        // :checked + span {
        //     background-color:#ED217C;
        //     color: white; 
        // }
    }
}

.drop-options{
    position: relative;
    select{
        // display: none;
        padding: 15px 24px;
        border-radius: 2px;
        border: 1px solid config.$black;
        width: 425px;
        font-family: config.$font-body;
    }
}

// input[type=text] {
//     width: 283px;
//     border-radius: 16px;
//     padding: 1rem;
//     font-family: config.$font-body;
// }

