@use '../config';

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;600&family=Outfit:wght@700&display=swap');

/*----------------------------------
Headings
----------------------------------*/
h1, h2, h3, h4 {
    font-family: config.$font-heading;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    line-height: 3.75rem;
}
h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}
h3 {
    font-size: 1.5em;
    line-height: 1.125rem;
}
h4 {
    font-size: 1.375rem;
    line-height: 1.75rem;
}

/*----------------------------------
Typography
----------------------------------*/
p, li, figcaption, label, button, a {
    font-family: config.$font-body;
    font-weight: 400;
}

p, li, figcaption {
    font-size: 1rem;
    line-height: 1.75rem;
}

.txt-xl {
    font-size: 1.5rem;
    line-height: 1.625rem;
}

.txt-lg {
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.txt-sm {
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.txt-xs {
    font-size: 0.75rem;
    line-height: 0.875rem;
}

figcaption {
    font-style: italic;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: config.$black;
}