.d-flex {
    display: flex;
}

.active-container {
    box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.25);
}

.hover-fx {
    box-shadow: none;
    transition: .35s ease-in-out;
}

.hover-fx:hover {
    box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.25);
}

.border {
    border: 1px solid rgba(25, 25, 25, 0.05);
}

.no-margin {
    margin: 0;
}

.flex-left {
    justify-self: flex-start;
}